__pycache__
logs
aflow
matproj
results*
QM9
log.txt
output_slurm
*.out
*venv/
scripts/plots
*.egg*
databases*
scripts/figs*
.pytest_cache
*envs/
job.err*
job.out*
core.*
*.nsys-rep
*.lprof
jax*
activate_venv.sh
