__pycache__
logs
aflow
matproj
results*
QM9
log.txt
*.slurm
*.sh
output_slurm
*.out
job.out.*
job.err.*
*venv/
*envs/
scripts/plots
*.egg*
databases*
scripts/figs*
.pytest_cache
core.*
*.lprof
*.nsys-rep
.ipynb_checkpoints/
Lib/*
*.cfg
scripts*
