# You need to install the correct version of jax for your CPU/GPU
# see https://github.com/google/jax#installation
tensorflow  
numpy  
jraph  
dm-haiku  
optax  
pandas  
tqdm  
scikit-learn
ase
ml_collections
absl-py
spglib
seaborn
tqdm
